<%= turbo_frame_tag dom_id(folder) do %>
  <div>
    <div>updated_at: <%= folder.updated_at %></div>
    <div>expanded: <%= folder.expanded? %></div>
    <%= form_with model: folder do |form| %>
      <%= form.submit "#{folder.expanded? ? '-' : '+'}" %>
      <%= folder.name %>
      (<%= folder.id %>)
    <% end %>
  </div>
  <br />
<% end %>