<li>
  <%= turbo_frame_tag dom_id(folder) do %>
    <div>
      <%= form_with model: folder do |form| %>
        <%= form.submit "#{folder.expanded? ? '-' : '+'}" %>
        <%= folder.name %>
        (<%= folder.id %>)
      <% end %>
      <ul>
        <% if folder.expanded? %>
          <%= render folder.children.alpha %>
          <% folder.cloud_files.alpha.each do |cf| %>
            <p><%= link_to("#{cf.smart_name} (#{cf.id})", cloud_file_path(cf.md5), data: { turbo: false }) %></p>
          <% end %>
        <% end %>
      </ul>
    </div>
    <br />
  <% end %>
</li>